<h1>新規募集投稿</h1>
<h3>募集内容を入力してください</h3>
<%= form_for @post do |f| %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, :size => 140 %>
  </div>

  <div class="field">
    <%= f.label :give %>
    <%= f.text_field :give, :size => 140 %>
  </div>

  <div class="field">
    <%= f.label :want %>
    <%= f.text_field :want, :size => 140 %>
  </div>

  <div class="field">
    <%= f.label :about %>
    <%= f.text_area :about, :size => "30x2" %>
  </div>

  <div class="field">
    <%= f.label :serve %>
    <%= f.select :serve, 
    [["郵送", "郵送"],  
    ["手渡し", "手渡し"]], include_blank: "選択して下さい" %>
  </div>

  <div class="field">
    <%= f.label :image %>
    <%= f.text_area :about, :size => "30x2" %>
  </div>

  <%= f.submit "募集を開始する" %>
<% end %>
<%= link_to "Tweet一覧に戻る", posts_index_path %>